/ double column page
.left.float-left
  .box.green
    .head
    %ul#sidebar-navigation
      = sidebar_navigation(@root_page.descendants.arrange(:order => :display_order))
    .foot
.right.float-right
  %h1= @page.title
  #page-description= @page.description
  .clear

  - if @page.has_children?
    .product-thumbnails
      - @page.children.each do |child|
        .product-thumbnail
          .product-content
            = link_to child.title, slug_path(child), :class => 'product-title'
            = link_to slug_path(child), :title => child.display_name do
              = image_tag(child.photo.image.thumb.url, :width => 160, :height => 90, :class => 'photo', :alt => child.display_name)
      .clear

  - if @page.has_product?
    - unless @page.product.photos.empty?
      .box.green
        .head= "#{@page.product.name} Images"
        .body
          %p{:align => 'center'}
            - @page.product.photos.each do |photo|
              = link_to photo.image.url, :class => 'fancybox', :rel => 'gallery', :title => photo.alt do
                = image_tag photo.image.tiny.url, :alt => photo.alt, :width => 50, :height => 50, :class => 'photo', :style => 'margin-bottom: -20px'

    = link_to_product_button(@page.product, :style => 'width: 580px;')

    = @page.product.content.html_safe

    = link_to_product_button(@page.product, :style => 'width: 580px;')

  = @page.content.html_safe

- if can?(:manage, Page)
  :javascript
    sidebarNavigation.create();
    sidebarNavigation.adminFunctions('#{sort_pages_path}');
- else
  :javascript
    sidebarNavigation.create();