/ double column page
.left.float-left
  .box.green
    .head
    %ul#sidebar-navigation
      = sidebar_navigation(@root_page.descendants.arrange(:order => :display_order))
    .foot
.right.float-right
  %h1= @page.title
  #page-description= @page.description
  .clear

  = @page.content.html_safe

:javascript
  sidebarNavigation.create();
  if(#{logged_in? && current_user.is_admin?}) {
    sidebarNavigation.adminFunctions('#{sort_pages_path}');
  }