/ double column page
.left.float-left
  .box.green
    .head
    %ul#sidebar-navigation
      = sidebar_navigation(@root_page.descendants.arrange(:order => :display_order))
    .foot
.right.float-right
  %h1= @page.title
  #page-description= @page.description
  .clear

  - unless @product_pages.empty?
    .product-thumbnails
      - @product_pages.each do |product|
        .product-thumbnail
          .product-content
            = link_to product.title, slug_path(product), :class => 'product-title'
            = link_to slug_path(product), :title => product.display_name do
              = image_tag(product.primary_photo.image.thumb.url, :width => 160, :height => 90, :class => 'photo', :alt => product.display_name)
      .clear
  - else
    = image_tag(@page.primary_photo.image.url)
    - @page.photos.each do |photo|
      = link_to '#', :class => 'fancybox' do
        = image_tag(photo.image.thumb.url, :width => 75, :height => 75, :alt => photo.alt || @page.display_name, :rel => "#{@page.slug}-gallery")

  .clear{:style => 'margin: 0 0 10px 0'}
  = @page.content.html_safe

:javascript
  sidebarNavigation.create();
  if(#{logged_in? && current_user.is_admin?}) {
    sidebarNavigation.adminFunctions('#{sort_pages_path}');
  }