= form_for @page, :url => params[:action] == 'edit' ? page_path(@page.id) : pages_path, :method => params[:action] == 'edit' ? :put : :post, :html => {:multipart => true} do |f|
  %table.alternate.padded#page-table{:style => 'border: 1px solid #999999; width: 600px; margin: 0 auto;'}
    %tr
      %td.center
        Is this page active? (Inactive pages are temporarily deleted)
        %br
        %em Making a page inactive also makes all it's subpages inactive.
        %br
        %br
        %label
          = f.check_box :is_active, :tabindex => 1
          active?
    %tr
      %td.center
        Should this page be shown in navigation?
        %br
        %em Pages that aren't in navigation are only accessible via links you create and Google searches.
        %br
        %br
        %label
          = f.check_box :show_in_nav, :tabindex => 2
          show in nav?
    %tr
      %td.center
        This page will be created in:
        %br
        = breadcrumbs(@page)
        - unless @page.display_name == 'Home'
          = link_to 'Change', nil, :id => 'change-path-button', :class => 'button', :tabindex => 3
          = f.select :parent_id, options_for_select(Page.order(:slug).all.collect{|p| ["#{'&nbsp;-&nbsp;'*p.ancestry_depth} #{p.slug.split('/').last}".html_safe, p.id]}.insert(0,['- [root]', nil]), @page.parent_id), {}, :style => 'display: none', :id => 'change-path-select', :disabled => f.object.display_name == 'Home'
    %tr
      %td
        Title:
        %br
        = f.text_field :title, :'data-tooltip' => 'Try to make this unique and memorable', :placeholder => 'Page Title', :style => 'width: 250px', :tabindex => 4
    %tr
      %td
        Display Name:
        %br
        = f.text_field :display_name, :'data-tooltip' => 'The text to display on the link (defaults to title if blank)', :placeholder => 'My Page Title', :style => 'width: 250px', :disabled => f.object.display_name == 'Home', :tabindex => 5
    %tr
      %td
        Description:
        %br
        = f.text_area :description, :'data-tooltip' => 'Write a 1-2 sentence description of the page', :placeholder => 'This page is about specialized print products and other stuff...', :style => 'width: 550px; height: 100px', :tabindex => 6
    %tr
      %td
        - if @page.photo.new_record?
          = file_field_tag 'page[photos_attributes][][image]'
          = text_field_tag "page[photos_attributes][][alt]", @page.photo.alt, :placeholder => 'Alt Text', :style => 'margin: 0 0 0 10px; width: 250px;'
        - else
          = link_to @page.photo.image.url, :class => 'fancybox', :rel => 'gallery', :title => @page.photo.alt do
            = image_tag(@page.photo.image.tiny.url, :height => 50, :width => 50, :class => 'float-left photo', :alt => @page.photo.alt)
          = text_field_tag "page[photos_attributes][#{@page.photo.id}][alt]", @page.photo.alt, :placeholder => @page.title || 'Alt Text', :style => 'margin: 12px 15px 0 150px; width: 250px;'
          %label
            = check_box_tag "page[photos_attributes][#{@page.photo.id}][_destroy]"
            remove
          = hidden_field_tag "page[photos_attributes][#{@page.photo.id}][id]", @page.photo.id
    %tr
      %td
        Change Frequency:
        %br
        = f.select :change_frequency, options_for_select(%w(always hourly daily weekly monthly yearly never), 'weekly'), {}, :'data-tooltip' => 'How often does this page change?', :tabindex => 7
    %tr
      %td
        Priority:
        %br
        = f.select :priority, options_for_select((0..10).to_a.collect{|i| i/10.0}, 0.5), {}, :'data-tooltip' => 'How important is this page?', :tabindex => 8
    %tr
      %td
        Page Content:
        %br
        = link_to 'p', nil, :class => 'button insert-paragraph', :'data-tooltip' => 'Insert a new paragraph', :'data-gravity' => 's', :tabindex => -1
        = link_to 'green', nil, :class => 'button insert-green-box', :'data-tooltip' => 'Insert a green callout box', :'data-gravity' => 's', :tabindex => -1
        = link_to 'yellow', nil, :class => 'button insert-yellow-box', :'data-tooltip' => 'Insert a yellow callout box', :'data-gravity' => 's', :tabindex => -1
        = link_to 'ul', nil, :class => 'button insert-ul', :'data-tooltip' => 'Insert a list of items', :'data-gravity' => 's', :tabindex => -1
        = link_to 'a', nil, :class => 'button insert-a', :'data-tooltip' => 'Insert a link', :'data-gravity' => 's', :tabindex => -1
        = f.text_area :content, :style => 'width: 550px; height: 500px', :placeholder => '<p>Write your page content here...</p>', :id => 'page-content', :tabindex => 9
    %tr#attach-product-button-row
      %td.center
        = link_to 'Attach Product', nil, :class => 'button', :id => 'attach-product-button', :tabindex => 10
    %tr#attach-product-row.none
      %td
        - if @page.product.new_record?
          Existing Product:
          = f.select :product_id, options_for_select(Product.active.all.collect{|p| [p.name, p.id]}, f.object.product_id), {:include_blank => 'Select a Product...'}, :style => 'margin-right: 15px; width: 352px;', :tabindex => 10
          = link_to 'New Product', nil, :class => 'button', :id => 'new-product-button', :tabindex => 11
        - else
          = f.select :product_id, options_for_select(Product.active.all.collect{|p| [p.name, p.id]}, f.object.product_id), {:include_blank => 'Select a Product...'}, :style => 'margin-right: 15px; width: 415px;', :tabindex => 10
          = link_to 'X', root_path, :class => 'button', :id => 'remove-product-button', :style => 'margin-right: 15px;', :tabindex => 11
          = link_to 'Edit Product', nil, :class => 'button', :id => 'edit-product-button', :tabindex => 12

    = f.fields_for :product do |ff|
      %tr.product-row.none
        %td
          Product Name:
          %br
          = ff.text_field :name, :'data-tooltip' => 'Name of the product - this is for internal reference only', :placeholder => 'Greeting Card', :style => 'width: 250px', :tabindex => 12
      %tr.product-row.none
        %td
          Dakis URL:
          %br
          = ff.text_field :dakis_url, :'data-tooltip' => 'The dakis URL', :placeholder => 'http://photominator.dakis.com/?a=12a9d&b=29sl', :style => 'width: 250px', :tabindex => 13
      %tr.product-row.none
        %td
          Product Content:
          %br
          = link_to 'p', nil, :class => 'button insert-paragraph', :'data-tooltip' => 'Insert a new paragraph', :'data-gravity' => 's', :tabindex => -1
          = link_to 'green', nil, :class => 'button insert-green-box', :'data-tooltip' => 'Insert a green callout box', :'data-gravity' => 's', :tabindex => -1
          = link_to 'yellow', nil, :class => 'button insert-yellow-box', :'data-tooltip' => 'Insert a yellow callout box', :'data-gravity' => 's', :tabindex => -1
          = link_to 'ul', nil, :class => 'button insert-ul', :'data-tooltip' => 'Insert a list of items', :'data-gravity' => 's', :tabindex => -1
          = link_to 'a', nil, :class => 'button insert-a', :'data-tooltip' => 'Insert a link', :'data-gravity' => 's', :tabindex => -1
          = ff.text_area :content, :style => 'width: 550px; height: 500px', :placeholder => '<p>Write your product content here...</p>', :id => 'product-content', :tabindex => 14

          - # need this or else the DOM is fucked up
          = ff.hidden_field :id

      - @page.product.photos.each do |photo|
        %tr.product-row.none
          %td
            = link_to photo.image.url, :class => 'fancybox', :rel => 'gallery', :title => photo.alt do
              = image_tag(photo.image.tiny.url, :height => 50, :width => 50, :class => 'float-left photo', :alt => photo.alt)
            = text_field_tag "page[product_attributes][photos_attributes][#{photo.id}][alt]", photo.alt, :placeholder => @page.product.name || 'Alt Text', :style => 'margin: 12px 15px 0 150px; width: 250px;'
            %label
              = check_box_tag "page[product_attributes][photos_attributes][#{photo.id}][_destroy]"
              remove
            = hidden_field_tag "page[product_attributes][photos_attributes][#{photo.id}][id]", photo.id

      %tr#add-photo-row.product-row.none
        %td.center
          = link_to 'Add Photo', nil, :id => 'add-photo-button', :class => 'button'

  #page-submit-button{:style => 'margin: 0 auto; width: 604px'}
    = f.submit :class => 'button', :style => 'width: 604px', :tabindex => 15

:javascript
  $(function() {
    $('#change-path-button').click(function() {
      $('#breadcrumbs').remove();
      $(this).remove();
      $('#change-path-select').show();
      return false;
    });

    $('#attach-product-button').click(function() {
      showAttachProduct();
      return false;
    });

    $('#new-product-button').click(function() {
      showProduct();
      return false;
    });

    $('#remove-product-button').click(function() {
      if(confirm('Are you sure you want to remove the attached product? You must click \'Update Page\' in order to actually remove the product.')) {
        removeProduct();
      }

      return false;
    });

    $('#edit-product-button').click(function() {
      showProduct();
      return false;
    });

    $('#add-photo-button').click(function() {
      addPhoto();
      return false;
    });

    function showAttachProduct() {
      $('#attach-product-button-row').remove();
      $('#attach-product-row').show();
    }

    function showProduct() {
      $('#attach-product-button-row').remove();
      $('#attach-product-row').remove();
      $('.product-row').show();
    }

    function removeProduct() {
      $('#attach-product-row').remove();
      $('#product-row').remove();
      var hidden_product_id = document.createElement('input');
        hidden_product_id.type = 'hidden';
        hidden_product_id.name = 'page[product_id]';
        hidden_product_id.value = 'nil';

      $('#page-submit-button').append(hidden_product_id);
    }

    function addPhoto() {
      var time = new Date().getTime();
      var file_field = document.createElement('input');
        file_field.type = 'file';
        file_field.name = 'page[product_attributes][photos_attributes]['+time+'][image]';
        file_field.style.width = '200px';

      var alt_field = document.createElement('input');
        alt_field.type = 'text';
        alt_field.name = 'page[product_attributes][photos_attributes]['+time+'][alt]';
        alt_field.style.width = '250px';
        alt_field.style.margin = '0 0 0 10px'
        alt_field.placeholder = '#{@page.product.name || 'Alt Text'}';

      var tr = document.createElement('tr');
        tr.className = 'product-row';

        var td = document.createElement('td');
          td.appendChild(file_field);
          td.appendChild(alt_field);

        tr.appendChild(td);
      $('#add-photo-row').before(tr);
    }

    if(#{!@page.product.nil?}) {
      showAttachProduct();
    }
  });