!!!
%html
  %head
    %title ProDigitalPhotos
    = stylesheet_link_tag %w(styles), :cache => false
    = javascript_include_tag :defaults
    = csrf_meta_tag
    
  %body
    #header
      #logo
      %ul#main-nav
        %li= link_to 'prints', '#prints'
        %li= link_to 'cookie', '#cookie'
        %li= link_to '[+ new]', new_page_path

    #wrapper
      #inner-wrapper
        #content
          - flash.each do |flash_name, value|
            %div{:class => flash_name}!= value
          
          = yield
      
    #footer_push
    #footer
      %span Copyright &copy; #{Time.now.strftime('%Y')} Pro Digital Photos, Inc