!!!
%html
  %head
    %title= title
    %meta{:name => 'keywords', :content => keywords}
    %meta{:name => 'description', :content => description}
    %link{:rel => 'shortcut icon', :href => '/favicon.ico'}
    = stylesheet_link_tag %w(screen tipsy fancybox), :media => 'screen, projection'
    = stylesheet_link_tag 'print.css', :media => 'print'
    /[if IE]
      = stylesheet_link_tag 'ie.css', :media => 'screen, projection'
    = javascript_include_tag %w(jquery jquery_ujs jquery-ui tipsy fancybox application)
    = csrf_meta_tag

  %body
    / header
    #header
      / logo
      = link_to '', root_path, :id => 'logo', :title => 'Pro Digital Photos'
      = render 'layouts/main_nav'

    #wrapper
      #inner-wrapper
        #content
          - flash.each do |flash_name, value|
            %div{:class => 'flash', :id => flash_name}!= value

          / content
          = yield
          / / content

    #footer_push
    / footer
    #footer
      %span Copyright &copy; #{Time.now.strftime('%Y')} Pro Digital Photos, Inc. All Rights Reserved